#INFORMATION {
    padding-top: 100px;
    padding-bottom: 50px;
}

#icon2 {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 350px;
    height: 350px;
    background-image: url(./img/dknxsmph.jpg);
    background-size: 100%;
    border-radius: 50%;
    transition: 1s;
    background-repeat: no-repeat;
}

#icon2:hover {
    transform: scale(1.5);
    background-image: url(./img/icon2.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


#INFORMATION p {
    margin-top: -38%;
    margin-left: 25%;
    text-align: right;
    width: 80%;
}

#INFORMATION a:hover {
    font-size: 150%;
    text-shadow: .1em .1em .2em rgb(128, 128, 128);
    color: rgb(14, 7, 83);
}