#inspiration {
    padding-top: 100px;
    margin-bottom: 100px;
}

#inspiration p {
    margin-top: 8%;
    text-align: right;
}

#inspiration a:hover {
    font-size: 150%;
    text-shadow: .1em .1em .2em rgb(128, 128, 128);
    color: rgba(1, 100, 46, 0.925);
}

#iconnn {
    float: left;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 350px;
    height: 550px;
    background-image: url(./img/babypig.jpg);
    background-size: 100%;
    transition: 1s;
    background-repeat: no-repeat;
}

#iconnn:hover {
    float: left;
    background-image: url(./img/babypigg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}