@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,300&display=swap');

body {
    font-family: 'Alegreya Sans SC';
    font-size: 155%;
    line-height: 175%;
    margin: 0;
    background-color: #fff;
    word-spacing: .2em;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    text-shadow: .1em .1em .2em gray;
    color: rgb(112, 109, 106);

}

h2:hover {
    text-shadow: .1em .1em .3em rgb(153, 149, 149);
    color: rgb(0, 0, 0);

}

.content {
    margin: 2% 15%;
}